# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Seguridad y Sesiones
SESSION_SECRET=seychelles-secret-2024

# Base de Datos MongoDB Atlas (Cambiar por tu URI real)
MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@CLUSTER.mongodb.net/seychelles?retryWrites=true&w=majority

# Autenticación Google OAuth2
# IMPORTANTE: El ID debe coincidir con el de public/index.html
GOOGLE_CLIENT_ID=463908353578-o70ia5lgf0c7fcce0utp8qqlqnc41iuo.apps.googleusercontent.com
ALLOWED_EMAILS=danny.medinaprom@gmail.com,otro_usuario@gmail.com
